[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=A20-SDK-Builder
Comment=A20 SDK handling application
Exec=a20_sdk_builder
Icon=application-default-icon
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Utility;