[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=SDK-Builder
Comment=SDK handling application
Exec=sdk_builder
Icon=application-default-icon
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Utility;